<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agenda-servicio-detail"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="from ==='cart'">Dirección de entrega</ion-title>
    <ion-title *ngIf="from ==='accont'"> Administrar dirección</ion-title>
  </ion-toolbar>
  <div class="segment_div">
    <!-- <ion-label [class.active]="seg_id == 1" (click)="onClick(1)">Mis direcciones</ion-label> -->
    <ion-label [class.active]="seg_id == 2" (click)="onClick(2)">Club Hípicos</ion-label>
  </div>
</ion-header>
<ion-content>
  <div class="group">
    <div class="mainContent">
      <!-- <ion-button (click)="addNew()" expand="block" fill="clear">
        <ion-icon slot="start" name="add"></ion-icon>
        Añadir dirección
      </ion-button> -->
      <div class="noData" *ngIf="!dummy?.length" [style.backgroundImage]="'url(assets/nothing.jpg)'"></div>
      <!-- <div *ngFor="let item of dummy">
        <ion-list lines="none">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%;"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%;"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%;"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div> -->
      <!-- <div *ngIf="seg_id == 1">
        <ion-list *ngIf="from ==='cart'">
          <ion-radio-group [(ngModel)]="selectedAddress">
            <ion-item *ngFor="let item of (myaddress | async) | filtro: 'inactivo':club" class="list">
              <ion-label class="title">{{item.title}} <br />
                <span class="name">{{item.house}} {{item.landmark}} {{item.address}}</span></ion-label>
              
              <ion-radio [value]="item.id" slot="start" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <div *ngIf="from ==='accont'">
          <div class="list" *ngFor="let item of (myaddress | async) | filtro: 'inactivo':club" scrollX="true">
            <ion-label class="title">{{item.title}}</ion-label>
            <ion-label class="name">{{item.house}} {{item.landmark}} {{item.address}}
            </ion-label>
            <ion-icon class="moreIcon" (click)="openMenu(item,$event)" name="ellipsis-vertical-outline">
            </ion-icon>
          </div>
        </div>
      </div> -->


      <div *ngIf="seg_id == 2">
        <ion-list>
          <ion-radio-group [(ngModel)]="selectedAddress">
            <ion-item *ngFor="let item of (myaddress | async) | filtro: 'ipico':club" class="list">
              <ion-label class="title">{{item.title}} <br />
                <span class="name">{{item.house}} {{item.landmark}} {{item.address}}</span></ion-label>
              <!-- <ion-label class="name"></ion-label> -->
              <ion-radio [value]="item.id" slot="start" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedAddress" (click)="selectAddress()">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>