ion-content {
  //   --background: transparent !important;
}
ion-label {
  display: block;
}
.group {
  padding: 10px 15px;
  width: 100%;
  background: #fff !important;
  .mainContent {
    padding: 5px 10px;
    .savedTitle {
      font-weight: bold;
    }
    .noData {
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 250px;
    }
    .list {
      margin-top: 20px;
      position: relative;
      // display: flex;
      // flex-wrap: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .scroll-item {
        flex: 0 0 auto;
      }
      .title {
        font-weight: bold;
        color: black;
        font-size: 0.8rem;
        white-space: pre-wrap;
        text-transform: capitalize;
      }
      .name {
        color: lightgray;
        font-size: 0.7rem;
      }
      .moreIcon {
        position: absolute;
        right: 0px;
        top: 1px;
      }
    }
  }
}

.segment_div {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  justify-content: space-around;
  ion-label {
    color: gray;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .active {
    border-bottom: 1px solid #0070ab;
  }
}
