<ion-header>
  <ion-toolbar class="toolbarBlue">
    <div class="">
      <ion-buttons slot="start">
        <ion-back-button text=" Detalle Ticket" mode="md"></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loaded" style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    ">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <div class="main_content_div" *ngIf="loaded">
    <ion-label class="header_lbl"> Ticket del servicio</ion-label>
    <ion-label class="res_location"> </ion-label>

    <div class="line_div"></div>

    <!-- <ion-label class="res_location">{{address}}</ion-label> -->

    <div class="flex_div">
      <ion-label class="res_name" style="margin-top: 0px;">Pedido</ion-label>
    </div>

    <!-- <div class="line_div"></div> -->

    <span>
      <div class="card_div">
        <div class="flex_div" *ngFor="let item of ordersDetalle">
          <ion-label class="food_title">
            {{item.servicio.nombre}} <br />{{item.cantidad}}
            <span *ngIf="item.cantidad == 1">Orden </span>
            <span *ngIf="item.cantidad > 1">Órdenes </span>
          </ion-label>
          <ion-label class="food_price">{{getCurrency()}}{{item.subtotal | number : '1.2-2'}}</ion-label>
        </div>
      </div>
    </span>

    <ion-label style="margin-top: 5px; font-weight: 600px;">Cupon de descuento
      <span class="prise_lbl">N/A</span>
    </ion-label>
    <ion-label style="margin-top: 5px; font-size: 14px;">Servicio a domicilio
      <span class="prise_lbl">{{getCurrency()}}{{servicioDomicilio| number : '1.2-2'}} MXN </span>
    </ion-label>

    <ion-label style="margin-top: 5px; font-weight: 600px;">Total
      <span class="prise_lbl">{{getCurrency()}}{{total| number : '1.2-2'}} MXN</span>
    </ion-label>
    <div class="line_div"></div>

    <ion-label class="res_name">Detalle de la orden</ion-label>
    <div class="line_div"></div>

    <ion-label class="head_gray">Numero de orden</ion-label>
    <ion-label class="small_lbl">#{{ordersDetalle[0]?.id_orden}}</ion-label>
    <ion-label class="head_gray">Forma de pago</ion-label>
    <ion-label class="small_lbl">Efectivo
    </ion-label>
    <ion-label class="head_gray">Fecha de orden</ion-label>
    <ion-label class="small_lbl">{{ordersDetalle[0]?.createdAt | date:'medium'}}</ion-label>
    <ion-label class="head_gray">Dirección de entrega</ion-label>
    <ion-label class="small_lbl">{{deliveryAddress}}</ion-label>

    <div class="line_div"></div>

  </div>
</ion-content>