<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalle de la orden</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    *ngIf="!loaded"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <div class="main_content_div" *ngIf="loaded">
    <div class="card_div">
      <div class="resto_detail">
        <div
          class="back_image"
          [style.backgroundImage]="'url('+usercover+')'"
        ></div>
        <div style="margin-left: 10px;">
          <ion-label class="res_name">Daniel Vega Alvarado</ion-label>
          <ion-label class="res_location">{{time}}</ion-label>
        </div>
      </div>
    </div>
    <div class="orderId">
      <ion-label>
        <ion-icon name="analytics-outline"></ion-icon> Orden : #6576447
      </ion-label>
    </div>

    <div class="line_div"></div>

    <div class="card_div2" *ngIf="userphone">
      <div class="personal_detail">
        <div style="display: flex;">
          <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
          <ion-label class="res_name">{{userphone}}</ion-label>
        </div>
        <div>
          <ion-button (click)="call()" size="small" fill="outline"
            >Call</ion-button
          >
        </div>
      </div>
    </div>

    <div class="line_div"></div>

    <div class="card_div2" *ngIf="useremail">
      <div class="personal_detail">
        <div style="display: flex;">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;
          <ion-label class="res_name">{{useremail}}</ion-label>
        </div>
        <div>
          <ion-button (click)="mail()" size="small" fill="outline"
            >Email</ion-button
          >
        </div>
      </div>
    </div>

    <div class="line_div"></div>

    <div class="card_div2">
      <div class="personal_detail">
        <div style="display: flex;">
          <ion-icon name="location"></ion-icon>&nbsp;&nbsp;
          <ion-label class="res_name">{{address}}</ion-label>
        </div>
      </div>
    </div>

    <span>
      <p style="text-align: center; font-size: 14px; font-weight: 600;">
        A
      </p>
    </span>

    <div class="card_div2">
      <div class="personal_detail">
        <div style="display: flex;">
          <ion-icon name="location"></ion-icon>&nbsp;&nbsp;
          <ion-label class="res_name">{{deliveryAddress}}</ion-label>
        </div>
      </div>
    </div>

    <div class="card_div2">
      <div class="personal_detail">
        <div>
          <ion-button (click)="goToGoogleMaps()" size="small" fill="outline"
            ><ion-icon slot="start" name="navigate-outline"></ion-icon
            >Navegar</ion-button
          >
        </div>
      </div>
    </div>
    <div class="line_div"></div>

    <div class="card_div2">
      <div class="order_detail">
        <ion-label class="head_gray">ITEMS</ion-label>
        <!-- <div class="small_lbl">
          <ion-label *ngFor="let item of orders">{{item.quantiy}} X {{item.name}} <span
              class="prize">{{getCurrency()}}{{item.price}}</span></ion-label>
        </div> -->
        <span *ngFor="let item of orders">
          <!-- <div
            *ngFor="let subItems of item.selectedItem;let j = index"
            class="subNames"
          >
            <ion-label class="food_title">
              {{item.name}} X {{item.selectedItem[j].total}}</ion-label
            >
            <div *ngFor="let addods of subItems.item" class="flex_titles">
              <p class="sub_name">
                - {{addods.name}}
              </p>
              <p class="sub_name">
                {{getCurrency()}} {{addods.value}}
              </p>
            </div>
          </div> -->

          <div
            class="card_div4 subNames"
            *ngIf="!item.selectedItem || !item.selectedItem.length"
          >
            <div class="flex_div">
              <ion-label class="food_title"
                >{{item.name}} <br />{{item.quantiy}}
                <span *ngIf="item.quantiy == 1">Orden </span>
                <span *ngIf="item.quantiy > 1">Órdenes </span>
              </ion-label>
              <div class="flex_titles">
                <p class="sub_name"></p>
                <p class="sub_name">
                  {{getCurrency()}}{{item.quantiy * item.price}}
                </p>
              </div>
              <!-- <ion-label class="food_price"
                >{{getCurrency()}}{{item.quantiy * item.price}}</ion-label
              > -->
            </div>
          </div>
        </span>
        <ion-label class="head_gray">FECHA DE RECOLECCIÓN</ion-label>
        <ion-label class="small_lbl">{{time}} </ion-label>
      </div>
    </div>

    <div class="line_div"></div>
    <div class="card_div2">
      <div class="order_detail">
        <ion-label class="small_lbl2"
          >SUB TOTAL<span class="prize1">{{getCurrency()}}{{total}}</span>
        </ion-label>
        <ion-label class="small_lbl2"
          >GASTOS DE ENVIO<span class="prize1">{{getCurrency()}}5</span>
        </ion-label>
        <!-- <ion-label class="small_lbl2"
          >{{'Service Tax' | translate}}<span class="prize1"
            >{{getCurrency()}}{{serviceTax}}</span
          >
        </ion-label> -->
        <ion-label class="small_lbl2"
          >TOTAL<span class="prize1">{{getCurrency()}}{{grandTotal}}</span>
        </ion-label>

        <ion-label class="small_lbl2"
          >FORMA DE PAGO<span class="prize1 red_color">EFECTIVO</span>
        </ion-label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="page == 0">
  <ion-toolbar>
    <!-- <div class="btn_div" *ngIf="status == 'created'">
      <ion-button (click)="picked()" size="small" class="reject">
        Picked
      </ion-button>
    </div>
    <div class="btn_div" *ngIf="status == 'picked'">
      <ion-button (click)="delivered()" size="small" class="reject">
        Deliver
      </ion-button>
    </div> -->
    <!-- <div
      class="status_div"
      *ngIf="status == 'accepted' || status == 'ongoing' "
    >
      <div style="width: 200px;">
        <ion-select placeholder="Choose Status" [(ngModel)]="changeStatusOrder">
          <ion-select-option value="ongoing">Ongoing}</ion-select-option>
          <ion-select-option value="cancel">Cancel</ion-select-option>
          <ion-select-option value="delivered">Delivered</ion-select-option>
        </ion-select>
      </div> -->

    <ion-button expand="full" (click)="btniniciarServicio()">
      Iniciar Servicio
    </ion-button>
  </ion-toolbar>
</ion-footer>
