<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/img/EQ-LOGO.png" class="logo_icon" alt="yoga" />
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-input
          placeholder="Email &nbsp;"
          name="email"
          spellcheck="false"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>
      <!-- <ion-text color="danger">
        <p
          [hidden]="email.valid || submitted == false"
          class="ion-padding-start"
        >
          Email es requerido
        </p>
      </ion-text> -->

      <ion-row class="ion-no-margin ion-no-padding" style="margin-top: 20px;">
        <ion-col class="ion-no-margin ion-no-padding">
          <ion-button class="btn_class" type="submit" expand="block">
            Mandar Link
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>
