.div_map {
  width: 100% !important;
  height: 45% !important;
  position: absolute;
  
}
.informations {
  padding-top: 80% !important;
  .title {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }
  
}

.placename{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  position: absolute;
  

}
ion-list {
  background: var(--ion-item-background, var(--ion-background-color, #222428));
}