<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button text="Nueva dirección" defaultHref="/choose-address"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Nueva dirección</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar mode="ios" autocapitalize="false" debounce=500 (ionChange)="search($event)"
    [(ngModel)]="autocomplete.input"></ion-searchbar>

  <div class="div_map" #map></div>
  <div class="placename" [hidden]="autocompleteItems.length == 0">
    <ion-list lines="none" style="border-radius: 20px !important;" color="dark">
      <ion-item button *ngFor="let item of autocompleteItems" color="dark" (click)="selectSearchResult(item)">
        <ion-icon name="pin"></ion-icon>
        {{  item.description  }}
      </ion-item>
    </ion-list>
  </div>
  <div class="informations">
    <ion-item>
      <ion-label position="stacked">UBICACIÓN</ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CASA/PISO NO</ion-label>
      <ion-input [(ngModel)]="house"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">PUNTO DE REFERENCIA</ion-label>
      <ion-input [(ngModel)]="landmark"></ion-input>
    </ion-item>
    <ion-radio-group [(ngModel)]="title">
      <ion-label class="title">
        GUARDAR COMO
      </ion-label>
      <ion-item style="margin-top: 20px;">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>CASA</ion-label>
        <ion-radio value="home"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>TRABAJO</ion-label>
        <ion-radio value="work"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="navigate-outline" slot="start"></ion-icon>
        <ion-label>OTRO</ion-label>
        <ion-radio value="other"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button *ngIf="from ==='new'" (click)="addAddress()" expand="block">
      AÑADIR
    </ion-button>

    <ion-button *ngIf="from ==='edit'" (click)="updateAddress()" expand="block">
      ACTUALIZAR
    </ion-button>
  </div>


</ion-content>