<ion-content>
  <div class="main_content_div">
    <div *ngIf="!_admin" class="back_image" [style.backgroundImage]="'url(assets/img/ca.jpg)'"></div>
    <div *ngIf="_admin" class="back_image" [style.backgroundImage]="'url(assets/img/c2.jpg)'"></div>

    <div class="white_div" *ngIf="!_admin" [style.backgroundImage]="'url('+photo+')'"></div>
    <div class="white_div" *ngIf="_admin" [style.backgroundImage]="'url(assets/img/perfilM.png)'"></div>

    <div class="content_div">
      <ion-label class="usernane">{{_Usuario.usuario.nombre}}</ion-label>


      <ion-label class="location">
        {{_Usuario.usuario.email}}
      </ion-label>
      <ion-list>
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label class="label_icon" (click)="goToEditProfile()">Editar Perfil</ion-label>
        </ion-item>

        <ion-item *ngIf="_admin">
          <ion-icon name="people-circle-outline"></ion-icon>
          <ion-label class="label_icon" (click)="goToAdminRepartidores()">Administrar Encargados</ion-label>
        </ion-item>
        <ion-item *ngIf="_admin">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <ion-label class="label_icon" (click)="goToEstadisticas()">Estadisticas</ion-label>
        </ion-item>
      </ion-list>

      <ion-button class="logout" (click)="logout()" expand="block">
        Cerrar sesión
      </ion-button>
    </div>
  </div>
</ion-content>