<ion-header mode="ios">
  <!-- <ion-toolbar [hidden]="headerHidden" class="animated fadeInDown" *ngIf="haveLocation"> -->
  <ion-toolbar>
    <div class="deliveryAddress">
      <img src="assets/pin.png" alt="" class="pin" />
      <p class="address"></p>

      <div class="userPhoto" [style.backgroundImage]="'url(assets/user.png)'"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align: center;">Bienvenido {{_usuarioService.usuario.nombre}}</h3>
  <ion-card (click)="navigateToAgendaServicio()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 20px;">Agendar un Servicio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          Uno de nuestros agentes acudira a la recolecta
        </ion-col>
        <ion-col>
          <ion-img class="imgs" src="assets/img/calendario.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToOrders()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 20px;">Ver estatus de tus servicios</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          Podras verificar el estatus de tus operaciones
        </ion-col>
        <ion-col>
          <ion-img class="imgs" src="assets/img/informacion.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToInvoice()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 20px;">Tickets</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          Consulta el resumen de tus ultimos servicios
        </ion-col>
        <ion-col>
          <ion-img class="imgs" src="assets/img/1tar.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>