<ion-header mode="ios">
  <!-- <ion-toolbar [hidden]="headerHidden" class="animated fadeInDown" *ngIf="haveLocation"> -->
  <ion-toolbar class="toolbarBlue">
    <div class="deliveryAddress">
      <img src="assets/pin.png" alt="" class="pin" />
      <p class="address"></p>

      <div class="userPhoto" [style.backgroundImage]="'url(assets/user.png)'"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align: center;">Bienvenido {{_Usuario.usuario.nombre}}</h3>

  <ion-card *ngIf="!_admin" (click)="navigateToAgendaServicio()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 20px;">Nuevo servicio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          Inicia una nueva recolección
        </ion-col>
        <ion-col>
          <ion-img class="imgs" src="assets/img-driver/moto.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToOrders()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title *ngIf="!_admin" style="font-size: 20px;">Todos mis servicios</ion-card-title>
      <ion-card-title *ngIf="_admin" style="font-size: 20px;">Servicios en curso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          En este apartado podras ver el estado de los servicios
        </ion-col>
        <ion-col>
          <ion-img class="imgs" src="assets/img-driver/reloj.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToInvoice()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="font-size: 20px;">Tickets</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          Consulta el resumen de tus ultimas recolecciones
        </ion-col>
        <ion-col>
          <ion-img class="imgs" src="assets/img/1tar.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>