<ion-content>
  <app-slides></app-slides>
</ion-content>
<!-- 
<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="primary" expand="full" shape="round"
          >asadasdsd
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
