<ion-content>
  <div class="main_content_div">
    <div class="back_image" [style.backgroundImage]="'url(assets/img/ca.jpg)'"></div>
    <div class="white_div" [style.backgroundImage]="'url('+photo+')'"></div>

    <div class="content_div">
      <ion-label class="usernane">{{_usuarioService.usuario.nombre}}</ion-label>

      <ion-label class="location">
        {{_usuarioService.usuario.email}}
      </ion-label>
      <ion-list>
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label class="label_icon" (click)="goToEditProfile()">Editar Perfil</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-icon name="navigate-circle-outline"></ion-icon>
          <ion-label class="label_icon" (click)="goToadminDirecciones()">Administrar Direcciones</ion-label>
        </ion-item> -->
      </ion-list>

      <ion-button class="logout" (click)="logout()" expand="block">
        Cerrar sesión
      </ion-button>
    </div>
  </div>
</ion-content>