.main_content_div {
  width: 100%;

  .line_div {
    height: 1px;
    width: 100%;
    background: lightgray;
  }

  ion-label {
    display: block;
  }

  .card_div {
    padding: 20px;

    .resto_detail {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .back_image {
        height: 50px;
        width: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
      }

      .res_name {
        font-weight: 600;
        font-size: 14px;
      }
      .res_location {
        color: gray;
        font-size: 14px;
      }

      .order_id {
        position: absolute;
        right: 5px;
        ion-label {
          text-align: right;
        }
      }
    }
  }
  .orderId {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
  }

  .card_div2 {
    padding: 10px 20px;
    .personal_detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 20px;
        color: var(--ion-color-primary);
      }
      ion-button {
        --border-radius: 3px;
        font-weight: 600;
      }
      .res_name {
        font-weight: 600;
        font-size: 14px;
      }
    }

    .order_detail {
      .head_gray {
        color: gray;
        font-size: 13px;
        margin-top: 10px;
      }
      .small_lbl {
        font-size: 14px;
        font-weight: 600;
      }
      .subNames {
        border-bottom: 1px dashed lightgray;
        padding-bottom: 10px;
        .food_title {
          font-size: 15px;
          font-weight: bold;
          .veg {
            height: 12px;
            width: 12px;
          }
          .rate_lbl {
            background: #b2d9b2;
            border: 1px solid #7bdb7b;
            padding: 3px 8px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .flex_titles {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .sub_name {
            margin: 0px;
            color: black;
            font-size: 12px;
          }
        }
      }

      .prize {
        position: absolute;
        right: 35px;
        font-weight: 600 !important;
        color: black;
      }

      .prize1 {
        position: absolute;
        right: 35px;
        font-weight: 600 !important;
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        // margin-top: 10px;
      }
      .red_color {
        color: var(--ion-color-primary);
      }

      .small_lbl2 {
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
}

.btn_div {
  display: flex;
  justify-content: center;

  ion-button {
    font-weight: 600;
    --border-radius: 5px;
    width: 170px;
  }
  .accept {
    --background: green;
  }
}

.status_div {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;

  ion-select {
    border: 1px solid lightgray;
    border-radius: 5px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    width: 100%;
  }

  ion-button {
    font-weight: 600;
    --border-radius: 5px;
  }
}

.green {
  display: block;
  text-align: center;
  color: green;
  font-weight: 600;
}
.red {
  display: block;
  text-align: center;
  color: var(--ion-color-primary);
  font-weight: 600;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background: #0070ab !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background: #0070ab !important;
}
::ng-deep .mat-step-header .mat-step-icon-state-done {
  background: #0070ab !important;
}
