<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalle de la orden</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">
    <div class="card_div">
      <div class="resto_detail">
        <div
          class="back_image"
          [style.backgroundImage]="'url('+usercover+')'"
        ></div>
        <div style="margin-left: 10px;">
          <ion-label class="res_name">Daniel Vega Alvarado</ion-label>
          <ion-label class="res_location">{{time}}</ion-label>
        </div>
      </div>
    </div>
    <div class="orderId">
      <ion-label>
        <ion-icon name="analytics-outline"></ion-icon> Orden : #6576447
      </ion-label>
    </div>

    <!-- <div class="line_div"></div> -->

    <div class="card_div2" *ngIf="userphone">
      <div class="personal_detail">
        <div style="display: flex;">
          <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
          <ion-label class="res_name">{{userphone}}</ion-label>
        </div>
        <div>
          <ion-button (click)="call()" size="small" fill="outline"
            >Call</ion-button
          >
        </div>
      </div>
    </div>
    <div name="Direccion">
      <div class="card_div2">
        <div class="personal_detail">
          <div style="display: flex;">
            <ion-icon name="location"></ion-icon>&nbsp;&nbsp;
            <ion-label class="res_name">{{deliveryAddress}}</ion-label>
          </div>
        </div>
      </div>
    </div>
    <div class="line_div"></div>
    <div class="card_div2">
      <div class="order_detail">
        <ion-label class="head_gray">ITEMS</ion-label>

        <span *ngFor="let item of orders">
          <div
            class="card_div4 subNames"
            *ngIf="!item.selectedItem || !item.selectedItem.length"
          >
            <div class="flex_div">
              <ion-label class="">
                <ion-row>
                  <ion-col size="1">
                    <ion-img
                      *ngIf="item.quantiy > 2"
                      style="
                        height: 30px;
                        width: 30px;
                        margin-left: -7px;
                        margin-top: -5px;
                      "
                      src="assets/img-driver/palomita.png"
                    >
                    </ion-img>
                    <ion-img
                      *ngIf="item.quantiy < 3"
                      style="
                        height: 30px;
                        width: 30px;
                        margin-left: -7px;
                        margin-top: -5px;
                      "
                      src="assets/img-driver/warning.png"
                    >
                    </ion-img>
                  </ion-col>
                  <ion-col>
                    {{item.name}} <br />{{item.quantiy}}
                    <span *ngIf="item.quantiy == 1">Orden </span>
                    <span *ngIf="item.quantiy > 1">Órdenes </span>
                  </ion-col>
                </ion-row>
              </ion-label>
              <div class="flex_titles">
                <p class="sub_name"></p>
                <p class="sub_name">
                  $ {{item.quantiy * item.price}}
                </p>
              </div>
            </div>
          </div>
        </span>
        <!-- <ion-label class="head_gray">FECHA DE RECOLECCIÓN</ion-label>
        <ion-label class="small_lbl">{{time}} </ion-label> -->
      </div>
    </div>

    <div class="line_div"></div>
    <div class="orderId">
      <ion-label>
        <ion-icon name="chevron-up-circle-outline"></ion-icon> Actualizar
        Estatus
      </ion-label>
    </div>
    <mat-vertical-stepper [selectedIndex]="currentStep" #stepper>
      <mat-step label="Recolección agendada" state="phone" id="1">
        <p>
          El servicio se ha agendado correctamente y un encargado esta proximo a
          recoger la orden.
        </p>
      </mat-step>
      <mat-step label="Recolectado" state="chat">
        <p>Nuestro encargado esta en camino a recoger la orden.</p>
      </mat-step>
      <mat-step label="En proceso">
        <p>Se estan preparando los articulos a lavar.</p>
      </mat-step>

      <mat-step label="Listo para entrega" state="chat">
        <p>
          Tu orden esta lista y un encargado esta proximo a entregar la orden.
        </p>
      </mat-step>
      <mat-step label="Entregado">
        <p>La orden se ha entregado.</p>
      </mat-step>

      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </div>
</ion-content>

<ion-footer *ngIf="page == 0">
  <ion-toolbar>
    <div class="btn_div">
      <ion-button (click)="brCode()" color="medium">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Escanear
      </ion-button>
      <ion-button (click)="btniniciarServicio()">
        <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
        Actualizar
      </ion-button>
    </div>
    <!-- <div class="status_div">
      <ion-button (click)="btniniciarServicio()">
        Iniciar Servicio
      </ion-button>
    </div> -->
  </ion-toolbar>
</ion-footer>
