<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Dirección</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">
    <div class="upper_div">
      <div #map id="map" class="map"></div>
    </div>
    <div class="lower_div">
      <ion-label class="head_lbl">Dirección de entrega</ion-label>

      <div class="driver_detail_div">
        <!-- <div
          class="back_image"
          [style.backgroundImage]="'url('+dCover+')'"
        ></div> -->
        <div>
          <ion-label class="boy_name">{{dName}}</ion-label>
          <ion-label class="address">{{restAddress}}</ion-label>
          <ion-button (click)="callDriver()" size="small" fill="outline">
            Llamar 
          </ion-button>
        </div>
      </div>
      <div>
        <ion-button (click)="abrirmapa()">
          <ion-icon name="navigate-outline"></ion-icon>
          Abrir mapa
        </ion-button>
      </div>
      <ion-label class="order_detail"
        >Total de venta
        <span
          style="
            color: var(--ion-color-primary);
            position: absolute;
            right: 20px;
          "
          >{{grandTotal}}{{getCurrency()}}</span
        >
      </ion-label>
      <ion-label class="order_detail"
        >Estado del pedido<span class="order_status"
          >Recolección</span
        ></ion-label
      >
    </div>
  </div>
</ion-content>
