<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Estado del servicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">
    <div class="card_div">
      <div class="resto_detail">
        <div class="back_image" [style.backgroundImage]="'url(assets/img-compartidas/user.jpg)'"></div>
        <div style="margin-left: 10px;">
          <ion-label class="res_name">{{_usuarioService.usuario.nombre}}</ion-label>
          <!-- <ion-label class="res_location">Jul 21, 2020 10:37 AM</ion-label> -->
        </div>
      </div>
    </div>
    <div class="orderId">
      <ion-label>
        <ion-icon name="analytics-outline"></ion-icon> Estado de Orden
      </ion-label>
    </div>

    <div>
      <mat-vertical-stepper [selectedIndex]="currentStep">
        <mat-step label="Recolección agendada" state="phone">
          <p>
            El servicio se ha agendado correctamente y un encargado esta proximo
            a recoger la orden.
          </p>
        </mat-step>
        <mat-step label="Recolectando" state="chat">
          <p>Nuestro encargado esta en camino a recoger la orden.</p>
        </mat-step>
        <mat-step label="En proceso">
          <p>Se estan preparando los articulos a lavar.</p>
        </mat-step>

        <mat-step label="Listo para entrega" state="chat">
          <p>
            Tu orden esta lista y un encargado esta proximo a entregar la orden.
          </p>
        </mat-step>
        <mat-step label="Entregado">
          <p>La orden se ha entregado.</p>
        </mat-step>

        <ng-template matStepperIcon="phone">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
          <mat-icon>forum</mat-icon>
        </ng-template>
      </mat-vertical-stepper>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="btnVerDetalle()">
      Ver detalle del Servicio
    </ion-button>
  </ion-toolbar>
</ion-footer>