<ion-list lines="none">
  <ion-item (click)="select('edit')">
    <ion-label color="secondary">EDITAR</ion-label>
  </ion-item>
  <ion-item (click)="select('delete')">
    <ion-label color="danger">ELIMINAR</ion-label>
  </ion-item>
</ion-list>
