<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="assets/img/a.png" />

        <h2>Bienvenido</h2>
        <p>
          <b>
            Caballos eats Es la mejor app donde podras lavar la ropa de tus
            mascotas donde quieras y cuando quieras.</b
          >
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/dinero.svg" />
      <h2>Ahorra dinero siempre!</h2>
      <p>
        <b> Con nuestro sistema obtendras ahorros del mas del 50% </b>
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/a.png" />
      <h2>¿Listo para empezar?</h2>
      <ion-button fill="clear" (click)="navigateToLoginPage()"
        >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- <ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <div class="slide-img-padding">
        <img [src]="slide.img" />
      </div>

      <div>
        <h3 [innerHTML]="slide.titulo"></h3>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content> -->
<!-- 
<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="primary" expand="full" shape="round"
          >asadasdsd
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
