<ion-content #content>
  <div class="mainContent">
    <div class="restContent" [style.backgroundImage]="'url(assets/img/ca.jpg)'">
      <div class="btnss">
        <ion-icon (click)="back()" class="backIcon" color="light" slot="start" name="arrow-back-outline"></ion-icon>
      </div>
    </div>
    <div class="foodsContent">
      <ion-label class="restname">Selecciona los servicios</ion-label>

      <div class="deliveryAddress">
        <img src="assets/pin.png" alt="" class="pin" />
        <p class="address">Ciudad De Mexico</p>
      </div>

      <div *ngFor="let item of dummy">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div>
        <ion-label class="cateTitle">Articulos</ion-label>
        <div class="card_div">
          <div class="card" *ngFor="let item of servicios;let i = index">
            <div class="mainCat">
              <img [src]="item.img_cover" alt="" class="image_div" />
              <div class="desc_div">
                <ion-label style="max-width: 160px;" class="heading_lbl">{{item.nombre}}</ion-label>
                <ion-label class="small_lbl">{{item.descripcion}}</ion-label>
                <ion-label class="small_lbl">$ {{item.precio}}</ion-label>
              </div>
              <div class="cartBtn" *ngIf="item.cantidad <= 0">
                <ion-label class="btns" (click)="add(i)">Agregar</ion-label>
              </div>
              <div class="cartBtn2" *ngIf="item.cantidad > 0">
                <ion-button (click)="removeQ(i)" fill="clear" size="small">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
                <p class="qunitity">{{item.cantidad}}</p>
                <ion-button (click)="addQ(i)" fill="clear" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="totalItem >0">
  <ion-toolbar color="primary">
    <ion-label color="light">{{totalItem}} Item</ion-label>
    <ion-label color="light"> ${{totalPrice}} MXN Más envio</ion-label>
    <ion-button (click)="viewCart()" slot="end" fill="clear" color="light">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Siguiente
    </ion-button>
  </ion-toolbar>
</ion-footer>