<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div
    class="noData"
    *ngIf="!dummy?.length && !list?.length"
    [style.backgroundImage]="'url(assets/nothing.jpg)'"
  ></div> -->
  <div *ngFor="let item of dummy">
    <ion-list lines="none">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-row class="coupons" (click)="claim()">
    <ion-col size="12" class="info">
      <p class="title">
        $100 <br />
        <span class="code">CODIGO: 1PRIMERA-COMPRA </span><br />
        <span class="expire">EXPIRA: 7/10/2022</span><br />
        <span class="desc"
          >OBTENER $100 descuento en pedido mínimo DE $150
        </span>
      </p>
    </ion-col>
    <ion-badge color="primary" class="ion-padding" mode="ios"
      >RECLAMAR</ion-badge
    >
  </ion-row>
</ion-content>
