<ion-content>
  <ion-card style="top: 35%;">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="text-align: center;">Selecciona el tipo de cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button class="btn_class" type="submit" expand="block" (click)="registerClient()">
        <span> Cliente</span>
        <!-- <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner> -->
      </ion-button>
      <br />
      <ion-button style="top: 35%;" class="btn_class" type="submit" expand="block" (click)="registerdriver()">
        <span> Encargado</span>
        <!-- <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner> -->
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>