<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button text="Agendar un Servicio" (click)="back()"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Agendar un Servicio</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-title class="ios" style="text-align: center;"> </ion-title>
  </div>

  <ion-list>
    <ion-list-header class="ios">
      <ion-label>
        Selecciona una Fecha
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha</ion-label>

      <ion-datetime displayFormat="DDD MMM D, YYYY" [min]="dateIon" [max]="fechaFinalIon"
        [dayShortNames]="days.customDayShortNames" [monthShortNames]="days.customMonthShortNames" done-text="Aceptar"
        cancelText="Cancelar" [value]="dateIon" (ionChange)="onCurrentDateChanged($event)"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="ios">
      <ion-label>
        Selecciona una Hora
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-select value="" okText="Aceptar" cancelText="Cancelar" #E (ionChange)="selectBotton(E.value)">
        <ion-select-option value="1">08:00 AM</ion-select-option>
        <ion-select-option value="2">12:00 PM</ion-select-option>
        <ion-select-option value="3">4:00 PM</ion-select-option>
        <ion-select-option value="4">8:00 PM</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button [disabled]="disabled" expand="full" color="primary" (click)="navigateToAgendaServicio()">Continuar
  </ion-button>
</ion-footer>