<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Encargados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated (ionChange)="buscar( $event )"> </ion-searchbar>
  <ion-list #lista>
    <ion-item-sliding
      *ngFor="let album of albumes | filtro: textoBuscar: 'title'"
      (click)="navegateToProfile()"
    >
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/img-compartidas/user.png" />
        </ion-avatar>
        <ion-label>
          <h3>Daniel</h3>
          <p>uts.danielvega@gmail.com</p>
          <p>{{ album.title }}</p>
        </ion-label>

        <ion-label slot="end" text-right>
          6441451840
        </ion-label>
        <!-- {{ album.title }} -->
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="albumes === null ">
    <ion-item
      *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]"
      class="animated flash slow infinite"
    >
      <ion-label>
        <h3>
          <ion-skeleton-text width="70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text width="100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-label slot="end" text-right>
        <ion-skeleton-text width="40px"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
