// .mainSlide,
// .mainSlide ion-slide {
//   width: 100%;
//   height: 100%;
// }

// img {
//   width: 120px;
// }

// .pick-avatar {
//   width: 80px;
//   opacity: 0.3;
// }

// .pick-avatar-seleccionado {
//   transition: opacity 0.5s linear;
//   opacity: 1 !important;
// }

.login-logo {
  text-align: center;
  margin: auto;
  right: 0px;
  left: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  .logo_icon {
    width: 80% !important;
  }
  .login-name {
    margin: 0px;
    font-size: 1.5rem;
  }
  .subTitle {
    margin: 0px;
    font-size: 1rem;
  }
}
.frgTag {
  text-align: right;
  color: var(--ion-color-primary);
}
.btn_class {
  color: white;
  height: 50px;
}
.login-logo img {
  max-width: 500px;
}
.list {
  margin-bottom: 0;
}
ion-list {
  --ion-background-color: transparent;
  margin: 0px;
}
ion-item {
  --ion-background-color: #f3f3f3;
  border-radius: 5px !important;
  margin-top: 10px;
}

.createAcc {
  text-align: center;
  .registerTag {
    color: var(--ion-color-primary);

    font-weight: bold;
  }
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  .flagActive {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--ion-color-primary);
    margin: 0px 10px;
  }
  .flagDeactive {
    height: 45px;
    width: 45px;
    margin: 0px 10px;
    opacity: 0.5;
  }
}
