<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/img/EQ-LOGO.png" class="logo_icon" alt="foodies" />
    <p class="login-name">Iniciar sesión</p>
    <p class="subTitle">
      Ingresa <br />
      para acceder a tu cuenta
    </p>
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.email"
          type="email"
          placeholder="Email"
          name="email"
          #email="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="email.valid || submitted == false"
          class="ion-padding-start"
        >
          El email es requerido
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.password"
          name="password"
          placeholder="Password"
          type="password"
          #password="ngModel"
          required
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p
          [hidden]="password.valid || submitted == false"
          class="ion-padding-start"
        >
          la contraseña es requerida
        </p>
      </ion-text>
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <p class="frgTag" (click)="resetPass()">¿Olvidaste tu contraseña?</p>
        <ion-button
          class="btn_class"
          type="submit"
          expand="block"
          [disabled]="isLogin"
          (click)="onLogin(loginForm)"
        >
          <span *ngIf="!isLogin">Iniciar Sesión</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <p class="createAcc" (click)="register()">
    No tienes una cuenta?
    <span class="registerTag">registrate</span>
  </p>
</ion-content>
