.login-logo {
  text-align: center;
  margin: auto;
  right: 0px;
  left: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  .logo_icon {
    width: 80% !important;
  }
  .login-name {
    margin: 0px;
    font-size: 1.5rem;
  }
  .subTitle {
    margin: 0px;
    font-size: 1rem;
  }
}
.frgTag {
  text-align: right;
  color: var(--ion-color-primary);
}
.btn_class {
  color: white;
  height: 50px;
}
.login-logo img {
  max-width: 500px;
}
.list {
  margin-bottom: 0;
}
ion-list {
  --ion-background-color: transparent;
  margin: 0px;
}
ion-item {
  --ion-background-color: #f3f3f3;
  border-radius: 5px !important;
  margin-top: 10px;
}

.createAcc {
  text-align: center;
  .registerTag {
    color: var(--ion-color-primary);

    font-weight: bold;
  }
}
