<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/img/EQ-LOGO.png" class="logo_icon" alt="foodies" />
    <p class="login-name">Registro</p>
    <p class="subTitle">
      Ingresa tus<br />
      datos
    </p>
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.nombre"
          type="text"
          [placeholder]="'Nombre '|| '&nbsp;'"
          name="full_name"
          #full_name="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="full_name.valid || submitted == false"
          class="ion-padding-start"
        >
          El nombre es requerido
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.apellido"
          type="email"
          placeholder="Apellidos &nbsp;"
          name="apellidos"
          #apellidos="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="email.valid || submitted == false"
          class="ion-padding-start"
        >
          Los apellidos son requeridos
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.apodo"
          type="email"
          placeholder="Apodo &nbsp;"
          name="apodo"
          #apodo="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="apodo.valid || submitted == false"
          class="ion-padding-start"
        >
          Los apellidos son requeridos
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.email"
          type="email"
          [placeholder]="('Email' | translate) || '&nbsp;'"
          name="email"
          #email="ngModel"
          spellcheck="false"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="email.valid || submitted == false"
          class="ion-padding-start"
        >
          Email es requerido
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.contrasenia"
          name="contrasenia"
          placeholder="Contraseña &nbsp;"
          type="password"
          #password="ngModel"
          required
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p
          [hidden]="password.valid || submitted == false"
          class="ion-padding-start"
        >
          Contraseña es requerido
        </p>
      </ion-text>
      <ion-item lines="none">
        <ion-input
          [(ngModel)]="login.confirmPassword"
          name="cpassword"
          placeholder="Confirmar Contraseña &nbsp;"
          type="password"
          #cpassword="ngModel"
          required
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p
          [hidden]="cpassword.valid || submitted == false"
          class="ion-padding-start"
        >
          Confirmar contraseña es requerido
        </p>
      </ion-text>
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button
          class="btn_class"
          (click)="onLogin(loginForm)"
          type="submit"
          expand="block"
          [disabled]="isLogin"
        >
          <span *ngIf="!isLogin"> Registrar</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <p class="createAcc" (click)="back()">
    ¿Ya cuentas con una cuenta?
    <span class="registerTag">Iniciar sesión</span>
  </p>
</ion-content>
