<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button text="Estatus de servicios" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Estatus de servicios</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="centent_div">
      <!-- <div *ngIf="this.ordenes?.length">
        <ion-item *ngFor="let item of dummy">
          <ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </div> -->
      <div class="" *ngIf="!dummy?.length && !ordenes?.length">
        <div class="noData">
          <img src="assets/runing.gif" alt="" class="noDataImg" />
          <ion-label>Aun no has solicitado un servicio</ion-label>
          <ion-label>Por favor agenda un servicio </ion-label>
          <ion-button expand="block" fill="outline" (click)="navigateToAgenda()">
            Agendar Servicio
          </ion-button>
        </div>
      </div>

      <div class="card_div" *ngFor="let orden of ordenes" (click)="goToOrderDetail(orden.id)">
        <div class="resto_detail">
          <div class="back_image" [style.backgroundImage]="'url('+getProfilePic('')+')'"></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">{{this._usuarioServoce.usuario.nombre}}</ion-label>
            <ion-label class="res_location">{{orden.createdAt | date:'medium'}}</ion-label>
          </div>

          <div class="order_id">
            <ion-label>Servicio ID</ion-label>
            <ion-label>{{orden.id}}</ion-label>
          </div>
        </div>

        <div class="line_div"></div>
        <div class="order_detail">
          <ion-label class="head_gray">ITEMS</ion-label>
          <div class="small_lbl">
            <span *ngFor="let detalleOrder of orden.orden_detalle; let ol = index">
              <div class="border_bottom">
                {{detalleOrder.servicio.nombre}} <br />{{detalleOrder.cantidad}}
                <span *ngIf="detalleOrder.cantidad == 1">Orden </span>
                <span *ngIf="detalleOrder.cantidad > 1">Órdenes </span>
              </div>
              <div class=""></div>
            </span>
          </div>
          <ion-label class="head_gray">ORDENADO EL DIA</ion-label>
          <ion-label class="small_lbl">{{orden.createdAt | date:'medium'}} </ion-label>

          <ion-label class="head_gray">COSTO TOTAL</ion-label>
          <ion-label class="small_lbl">${{orden.total | number : '1.2-2'}}</ion-label>
          <!-- <ion-label class="payment_status">{{orden.estatus}}</ion-label> -->
          <ion-label class="payment_status">Recolectando</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>