<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-title>Servicios Recientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContent">
    <!-- <div *ngFor="let item of dummy">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%;"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%;"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%;"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div> -->
    <div class="noData">
      <img src="assets/runing.gif" alt="" class="noDataImg" />
      <ion-label>Aun no has solicitado un servicio</ion-label>
      <ion-label>Por favor agenda un servicio </ion-label>
      <ion-button expand="block" fill="outline">
        Agendar Servicio
      </ion-button>
    </div>
  </div>
</ion-content>
