<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agenda-servicio-detail"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalle de compra</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mainContent">
    <div class="noData" *ngIf="!cart?.length">
      <img src="assets/runing.gif" alt="" class="noDataImg" />
      <ion-label>Tu carrito esta vacio</ion-label>
      <ion-label>Por favor agrege tus articulos </ion-label>
      <ion-button (click)="getCart()" expand="block" fill="outline">
        Navega a todos los articulos
      </ion-button>
    </div>
    <div *ngIf="cart?.length">

      <div *ngIf="cart?.length">
        <div class="card_div">
          <div class="card" *ngFor="let item of cart;let i = index">
            <!-- Single -->
            <div class="mainCat" *ngIf="item.cantidad > 0">
              <img [src]="item.img_cover" class="image_div" alt="" />
              <div class="desc_div" style="max-width: 50%;">
                <ion-label class="heading_lbl">{{item.nombre}}</ion-label>

                <ion-label class="small_lbl">descuento</ion-label>
                <ion-label class="small_lbl">{{getCurrency()}} {{item.precio}}</ion-label>
              </div>
              <div class="cartBtn2">
                <ion-button (click)="removeQ(i)" fill="clear" size="small">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
                <p class="qunitity">{{item.cantidad}}</p>
                <ion-button (click)="addQ(i)" fill="clear" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </div>
            </div>

          </div>
        </div>
        <div class="billing">
          <div class="singleRow">
            <ion-label class="headerTitle">Dia de Recolección</ion-label>
            <ion-label class="price">MARTES 6 DE OCTUBRE DEL 2020 </ion-label>
          </div>
        </div>

        <div class="billing">
          <div class="singleRow">
            <ion-label class="headerTitle">{{'Item Total'}}</ion-label>
            <ion-label class="price">${{totalPrice | number : '1.2-2'}} MXN</ion-label>
          </div>

          <div class="singleRow">
            <ion-label class="headerTitle">Costo de Envio</ion-label>
            <ion-label class="price"> ${{priceEnvio | number : '1.2-2'}} MXN</ion-label>
          </div>
          <div class="singleRow" *ngIf="coupon">
            <ion-label class="headerTitle">Descuento</ion-label>
            <ion-label class="price"> ${{dicount}} MXN</ion-label>
          </div>
          <div class="singleRow">
            <ion-label class="headerTotal boldClass">Precio Total</ion-label>
            <ion-label class="priceTotal boldClass">
              ${{totalPriceString}} MXN</ion-label>
          </div>
        </div>
        <p class="instructions">
          Los precios incluyen IVA
        </p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="cart?.length">
  <ion-toolbar color="primary">
    <!-- <ion-label color="light">{{totalItem}} Item</ion-label> -->
    <ion-label color="light">Total</ion-label>
    <ion-label color="light">${{totalPriceString}} MXN </ion-label>
    <ion-button (click)="placeOrder()" slot="end" fill="clear" color="light">
      Finalizar
    </ion-button>
  </ion-toolbar>
</ion-footer>