<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Nuevo Servicio</ion-title>
  </ion-toolbar>
  <div class="segment_div">
    <ion-label [class.active]="seg_id == 1" (click)="onClick(1)">Hoy</ion-label>
    <ion-label [class.active]="seg_id == 2" (click)="onClick(2)"
      >Mañana</ion-label
    >
  </div>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="centent_div" *ngIf="seg_id == 1">
      <h2 class="ion-text-center" *ngIf="!dummy?.length && !orders?.length">
        No hay servicios
      </h2>

      <ion-item *ngFor="let item of dummy">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <div
        class="card_div"
        *ngFor="let item of orders"
        (click)="goToOrderDetail(item.orderId)"
      >
        <div class="resto_detail">
          <div
            class="back_image"
            [style.backgroundImage]="'url('+getProfilePic(item.uid)+')'"
          ></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">Daniel Vega</ion-label>
            <!-- <ion-label class="res_location">{{item.time}}</ion-label> -->
          </div>

          <div class="order_id">
            <ion-label>Servicio ID</ion-label>
            <ion-label>#13544</ion-label>
          </div>
        </div>

        <div class="line_div"></div>

        <div class="order_detail">
          <ion-label class="head_gray">ITEMS</ion-label>
          <!-- <div class="small_lbl">
            <ion-label *ngFor="let order of item.order">{{order.quantiy}} X {{order.name}} <span
                class="prize">{{getCurrency()}}{{order.price}}</span></ion-label>
          </div> -->
          <div class="small_lbl">
            <span *ngFor="let order of item.order;let ol = index">
              <div
                *ngIf="!order.selectedItem || !order.selectedItem.length"
                class="border_bottom"
              >
                {{order.name}} <br />{{order.quantiy}}
                <span *ngIf="order.quantiy == 1">Orden </span>
                <span *ngIf="order.quantiy > 1">Órdenes </span>
              </div>

              <div
                *ngFor="let subItems of order.selectedItem;let j = index"
                class="subNames"
              >
                <ion-label class="food_title"
                  >{{order.name}} X {{order.selectedItem[j].total}}</ion-label
                >
                <div *ngFor="let addods of subItems.item" class="flex_titles">
                  <p class="sub_name">
                    - {{addods.name}}
                  </p>
                  <p class="sub_name">
                    {{getCurrency()}} {{addods.value}}
                  </p>
                </div>
              </div>
            </span>
          </div>
          <ion-label class="head_gray">FECHA</ion-label>
          <ion-label class="small_lbl">{{item.time}} </ion-label>
          <ion-label class="head_gray">CANTIDAD TOTAL</ion-label>
          <ion-label class="small_lbl"
            >{{getCurrency()}}{{item.grandTotal}}</ion-label
          >

          <ion-label class="payment_status">RECOLECCIÓN</ion-label>
        </div>
      </div>
    </div>

    <div class="centent_div" *ngIf="seg_id == 2">
      <h2 class="ion-text-center" *ngIf="!dummy?.length && !oldOrders?.length">
        NUMERO DE ORDEN
      </h2>
      <ion-item *ngFor="let item of dummy">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <div
        class="card_div"
        *ngFor="let item of oldOrders"
        (click)="goToOrderDetail(item.orderId)"
      >
        <div class="resto_detail">
          <div
            class="back_image"
            [style.backgroundImage]="'url('+getProfilePic(item.uid)+')'"
          ></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">Alejandro Peinado</ion-label>
            <!-- <ion-label class="res_location">{{item.time}}</ion-label> -->
          </div>

          <div class="order_id">
            <ion-label>ORDEN ID</ion-label>
            <ion-label>#54564356</ion-label>
          </div>
        </div>

        <div class="line_div"></div>

        <div class="order_detail">
          <ion-label class="head_gray">ITEMS</ion-label>
          <!-- <div class="small_lbl">
            <ion-label *ngFor="let order of item.order">{{order.quantiy}} X {{order.name}} <span
                class="prize">{{getCurrency()}}{{order.price}}</span></ion-label>
          </div> -->
          <div class="small_lbl">
            <span *ngFor="let order of item.order;let ol = index">
              <div
                *ngIf="!order.selectedItem || !order.selectedItem.length"
                class="border_bottom"
              >
                {{order.name}}<br />{{order.quantiy}}
                <span *ngIf="order.quantiy == 1">Orden </span>
                <span *ngIf="order.quantiy > 1">Órdenes </span>
              </div>

              <div
                *ngFor="let subItems of order.selectedItem;let j = index"
                class="subNames"
              >
                <ion-label class="food_title"
                  >{{order.name}} X {{order.selectedItem[j].total}}</ion-label
                >
                <div *ngFor="let addods of subItems.item" class="flex_titles">
                  <p class="sub_name">
                    - {{addods.name}}
                  </p>
                  <p class="sub_name">
                    {{getCurrency()}} {{addods.value}}
                  </p>
                </div>
              </div>
            </span>
          </div>
          <ion-label class="head_gray">FECHA</ion-label>
          <ion-label class="small_lbl">{{item.time}} </ion-label>
          <ion-label class="head_gray">CANTIDAD TOTAL</ion-label>
          <ion-label class="small_lbl"
            >{{getCurrency()}}{{item.grandTotal}}</ion-label
          >

          <ion-label class="payment_status">{{item.status}}</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>
