<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/add-new-address"></ion-back-button>
    </ion-buttons>

    <ion-title>Formas de pago</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-item (click)="openStripe()">
    <ion-thumbnail slot="start">
      <img src="assets/stripe.png" />
    </ion-thumbnail>
    <ion-label>{{'Pay with' | translate}} Stripe</ion-label>
    <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item> -->

  <!-- <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/paypal.png" />
    </ion-thumbnail>
    <ion-label>Paga con Paypal</ion-label>
    <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item> -->

  <ion-item (click)="placeOrder()">
    <ion-thumbnail slot="start">
      <img src="assets/cod.png" />
    </ion-thumbnail>
    <ion-label> Pago contra entrega</ion-label>
    <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-content>
