<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div
      class="back_image"
      [style.backgroundImage]="'url(assets/img/c2.jpg)'"
    ></div>

    <div class="lower_div">
      <!-- <div class="white_div" (click)="cover()" [style.backgroundImage]="'url('+profilePic+')'"></div> -->
      <img
        *ngIf="!_admin"
        class="white_div"
        [src]="profilePic"
        alt=""
        (click)="cover()"
        onError="this.src='assets/img-compartidas/user.jpg'"
      />
      <img
        *ngIf="_admin"
        class="white_div"
        src="assets/img/perfilM.png"
        alt=""
        (click)="cover()"
        onError="this.src='assets/img/perfilM.png'"
      />
      <div class="line_div"></div>

      <div class="form_div">
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input *ngIf="!_admin" type="text" [(ngModel)]="name"></ion-input>
          <ion-input *ngIf="_admin" type="text" value="Rocio"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="handle"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Número de teléfono</ion-label>
          <ion-input type="number" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Apodo</ion-label>
          <ion-input type="text" [(ngModel)]="descriptions"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="update()" expand="block" class="sub_btn">
      Guardar cambios
    </ion-button>
  </ion-toolbar>
</ion-footer>
