<ion-header no-border>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="UltimoMes">
      <ion-label>Ultimo Mes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <ion-list #lista>
    <ion-item-sliding *ngFor=" let orden of (ordenes | async) | filtro: publisher:'email'" class="animated fadeIn fast"
      (click)="invoiceDetail(orden.id,orden.id_direccion)">
      <ion-item>
        <ion-label>
          <h3>Fecha: {{orden.fecha_orden | date: 'dd/MM/yyyy'}}</h3>
          <p> Cantidad de servicios: 1</p>
        </ion-label>

        <ion-label slot="end" text-right style="margin-right: -10%;">
          Total: ${{orden.total | number : '1.2-2'}}
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option side="end" color="secondary" (click)="share()">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="(ordenes | async) === null ">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="animated flash slow infinite">
      <ion-label>
        <h3>
          <ion-skeleton-text width="70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text width="100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-label slot="end" text-right>
        <ion-skeleton-text width="40px"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>