/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: mont;
  src: url(assets/fonts/mont.ttf);
}
* {
  font-family: mont;
}

ion-modal.modalContact {
  .modal-wrapper {
    width: 90% !important;
    border-radius: 5px;
  }
  &.bottom {
    align-items: flex-end;
  }
  --height: auto;
  .ion-page {
    position: relative;
    display: block;
    contain: content;
    .inner-content {
      max-height: 80vh;
      overflow: auto;
      // padding: 10px;
      // border-radius: 10px;
    }
  }
}

ion-modal.custom_modal2 {
  .modal-wrapper {
    width: 100% !important;
    // border-top-left-radius: 25px;
    // border-top-right-radius: 25px;
  }
  &.bottom {
    align-items: flex-end !important;
  }
  --height: 70vh;
  align-items: flex-end;
}

.toolbarBlue {
  color: #0070ab;
}

.mat-step-header {
  pointer-events: none !important;
}
