<ion-header>
  <ion-toolbar class="toolbarBlue">
    <div class="header_div">
      <ion-buttons slot="start">
        <ion-back-button text="" mode="md"></ion-back-button>
      </ion-buttons>
      <!-- <ion-label class="support_lbl">Support</ion-label> -->
    </div>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="chat()" color="danger">
        <ion-icon slot="end" name="chatbox-ellipses-outline"></ion-icon>
        Ayuda
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    *ngIf="!loaded"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <div class="main_content_div" *ngIf="loaded">
    <ion-label class="header_lbl"> Ticket del servicio</ion-label>
    <ion-label class="res_location"> </ion-label>

    <div class="line_div"></div>

    <!-- <ion-label class="res_location">{{address}}</ion-label> -->

    <div class="flex_div">
      <ion-label class="res_name" style="margin-top: 0px;">Pedido</ion-label>
      <ion-label
        class="fav_lbl"
        (click)="trackMyOrder()"
        *ngIf="status =='ongoing' || status =='accepted' "
        >Numero de Orden
      </ion-label>
    </div>

    <!-- <div class="line_div"></div> -->

    <span *ngFor="let item of orders">
      <!-- <div
        *ngFor="let subItems of item.selectedItem;let j = index"
        class="subNames"
      >
        <ion-label class="food_title">
          {{item.name}} X {{item.selectedItem[j].total}}</ion-label
        >
        <div *ngFor="let addods of subItems.item" class="flex_titles">
          <p class="sub_name">
            - {{addods.name}}
          </p>
          <p class="sub_name">
            {{getCurrency()}} {{addods.value}}
          </p>
        </div>
      </div> -->

      <div
        class="card_div"
        *ngIf="!item.selectedItem || !item.selectedItem.length"
      >
        <div class="flex_div">
          <ion-label class="food_title">
            {{item.name}} <br />{{item.quantiy}}
            <span *ngIf="item.quantiy == 1">Orden </span>
            <span *ngIf="item.quantiy > 1">Órdenes </span>
          </ion-label>
          <ion-label class="food_price"
            >{{getCurrency()}}{{item.quantiy * item.price}}</ion-label
          >
        </div>
      </div>
    </span>

    <ion-label style="margin-top: 5px; font-weight: 600px;"
      >Pago
      <span class="prise_lbl">{{getCurrency()}}{{total}}</span>
    </ion-label>
    <ion-label style="margin-top: 5px; font-weight: 600px;" *ngIf="coupon"
      >Cupon de descuento
      <span class="prise_lbl">{{getCurrency()}}{{dicount}}</span>
    </ion-label>
    <ion-label style="margin-top: 5px; font-size: 14px;"
      >Servicio a domicilio
      <span class="prise_lbl">{{getCurrency()}}{{serviceTax}}</span>
    </ion-label>
    <div class="line_div"></div>

    <ion-label class="res_name">Detalle de la orden</ion-label>
    <div class="line_div"></div>

    <ion-label class="head_gray">Numero de orden</ion-label>
    <ion-label class="small_lbl">{{id}}</ion-label>
    <ion-label class="head_gray">Pago</ion-label>
    <ion-label class="small_lbl"
      >Efectivo <span *ngIf="paid =='cod'">Efectivo</span>
      <span *ngIf="paid =='stripe'">Efectivo</span>
    </ion-label>
    <ion-label class="head_gray">Fecha de orden</ion-label>
    <ion-label class="small_lbl">{{time}}</ion-label>
    <ion-label class="head_gray">Dirección de entrega</ion-label>
    <ion-label class="small_lbl">{{deliveryAddress}}</ion-label>

    <div class="line_div"></div>

    <ion-label
      class="red_lbl"
      *ngIf="status =='created' ||status =='ongoing' || status =='accepted' "
      (click)="call()"
    >
      llamar {{restName}}</ion-label
    >
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="btn_div">
      <!-- <ion-button
        *ngIf="status ==='Entregado'"
        (click)="presentAlertConfirm()"
        size="small"
        class="ratae"
      >
        <ion-icon name="star" color="light" slot="start"></ion-icon>
        Calificar Orden
      </ion-button> -->
      <ion-button
        *ngIf="status === 'created' ||status === 'ongoing' || status === 'accepted' "
        (click)="changeStatus()"
        size="small"
        class="reject"
      >
        Cancela Orden
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
