<ion-tabs>
  <!-- <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab2">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
