<ion-header>
  <ion-toolbar class="toolbarBlue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Todos mis servicios</ion-title>
  </ion-toolbar>
  <div class="segment_div">
    <ion-label [class.active]="seg_id == 1" (click)="onClick(1)">Pendientes</ion-label>
    <ion-label [class.active]="seg_id == 2" (click)="onClick(2)">Finalizados</ion-label>
  </div>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="centent_div" *ngIf="seg_id == 1">
      <h2 class="ion-text-center" *ngIf="!dummy?.length && !ordenes?.length">
        No hay servicios
      </h2>

      <ion-item *ngFor="let item of dummy">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <div class="card_div" *ngFor="let orden of ordenes" (click)="goToOrderDetail(orden.id_usuario)">
        <div class="resto_detail">
          <div class="back_image" [style.backgroundImage]="'url('+getProfilePic('')+')'"></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">{{orden?.usuario?.nombre}} {{orden?.usuario?.apellido}}</ion-label>
            <ion-label class="res_location">{{orden.createdAt | date: 'dd/MM/yyyy'}}</ion-label>
          </div>

          <div class="order_id">
            <ion-label>Servicio ID</ion-label>
            <ion-label>{{orden.id}}</ion-label>
          </div>
        </div>

        <div class="line_div"></div>
        <div class="order_detail">
          <ion-label class="head_gray">ITEMS</ion-label>
          <div class="small_lbl">
            <span *ngFor="let detalleOrder of orden.orden_detalle; let ol = index">
              <div class="border_bottom">
                {{detalleOrder.servicio.nombre}} <br />{{detalleOrder.cantidad}}
                <span *ngIf="detalleOrder.cantidad == 1">Orden </span>
                <span *ngIf="detalleOrder.cantidad > 1">Órdenes </span>
              </div>
              <div class=""></div>
            </span>
          </div>
          <ion-label class="head_gray">ORDENADO EL DIA</ion-label>
          <ion-label class="small_lbl">{{orden.createdAt | date:'medium'}} </ion-label>

          <ion-label class="head_gray">COSTO TOTAL</ion-label>
          <ion-label class="small_lbl">${{orden.total}}</ion-label>
          <ion-label class="payment_status">{{orden.estatus}}</ion-label>
        </div>
      </div>
    </div>

    <div class="centent_div" *ngIf="seg_id == 2">
      <h2 class="ion-text-center" *ngIf="!dummy?.length && !oldOrders?.length">
        No se encontrarón servicios finalizados
      </h2>
      <ion-item *ngFor="let item of dummy">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <div class="card_div" *ngFor="let orden of oldOrders?.length" (click)="goToOrderDetail(orden.id_usuario)">
        <div class="resto_detail">
          <div class="back_image" [style.backgroundImage]="'url('+getProfilePic('')+')'"></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">{{_usuarioService.usuario.nombre}}</ion-label>
            <ion-label class="res_location">{{orden.createdAt | date:'medium'}}</ion-label>
          </div>

          <div class="order_id">
            <ion-label>Servicio ID</ion-label>
            <ion-label>{{orden.id}}</ion-label>
          </div>
        </div>

        <div class="line_div"></div>
        <div class="order_detail">
          <ion-label class="head_gray">ITEMS</ion-label>
          <div class="small_lbl">
            <span *ngFor="let detalleOrder of orden.orden_detalle; let ol = index">
              <div class="border_bottom">
                {{detalleOrder.servicio.nombre}} <br />{{detalleOrder.cantidad}}
                <span *ngIf="detalleOrder.cantidad == 1">Orden </span>
                <span *ngIf="detalleOrder.cantidad > 1">Órdenes </span>
              </div>
              <div class=""></div>
            </span>
          </div>
          <ion-label class="head_gray">ORDENADO EL DIA</ion-label>
          <ion-label class="small_lbl">{{orden.createdAt | date:'medium'}} </ion-label>

          <ion-label class="head_gray">COSTO TOTAL</ion-label>
          <ion-label class="small_lbl">${{orden.total}}</ion-label>
          <ion-label class="payment_status">{{orden.estatus}}</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>